body {
    font-family: Tahoma;
    font-size: 1em;
    margin-left: 1em;
    background-color: #2191C0;
}

#calculator, #image {
    float: left;
}

#calculator {
    margin-right: 4em;
}

#successMessage {
    clear: both;
    width: 100%
}

#errorMessage {
    color: #cd0a0a;
    font-weight: bold;
}

#laske, #tyhjenna {
    width: 6em;
}

label {
    padding-top: 1em;
}

input {
    max-width: 6em;
}

.ui-widget-content {
    background-color: #D7EAC3;
}